body {
    font-family: 'Quicksand', sans-serif;
    background-color: #fff0f5; 
    margin: 0;
    padding: 0;
    color: #5a5a5a; 
}

header {
    background-color: #FF85B3; 
    text-align: center;
    padding: 30px 0;
    border-bottom: 4px solid #f06292; 
}

.logo {
    height: 7em;
    width: auto;
    vertical-align: middle;
}

header h1 {

    font-family: 'Pacifico', 'Cute Font', cursive;
    font-size: 36px;
    color: #fff5f8; 
    margin: 0;
    font-weight: 500;
}


header p {
    font-size: 18px;
    color: #A45D7E; 
    margin: 10px 0 0;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fae4f3; 
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.navbar a {
    color: #E91E63; 
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    margin: 0 15px;
    padding: 8px 15px;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: #F8BBD0; 
    color: #FFF;
}


.search-bar {
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

.search-bar input {
    padding: 8px;
    width: 250px;
    border-radius: 20px 0 0 20px;
    border: 2px solid #FF85B3;
    outline: none;
}

.search-bar button {
    padding: 8px 15px;
    border-radius: 0 20px 20px 0;
    background-color: #f06292;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.search-bar button:hover {
    background-color: #E91E63;
}

#recipe-list {
    padding: 20px;
}

.recipe-section {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ffd700;
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
}

.recipe-section img {
    width: 150px;
    height: 150px;
    margin-right: 20px;
    border-radius: 8px;
}

.recipe-info h2 {
    margin-bottom: 10px;
}

.recipe-info button {
    background-color: #ff4081;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#full-recipe-display {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ffd700;
    border-radius: 10px;
    margin: 20px 0;
}

#full-recipe-display.hidden {
    display: none;
}

#full-recipe-display button {
    background-color: #ff4081;
    color: white;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
}


footer {
    background-color: #FF85B3; 
    color: #FFF; 
    padding: 30px 0;
    text-align: center;
    border-top: 4px solid #f06292; 
}

footer .footer-content {
    max-width: 1100px;
    margin: 0 auto;
}

footer p {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 20px;
}

footer .footer-links a,
footer .social-media a {
    text-decoration: none;
    color: #ff4081; 
    font-size: 16px;
    margin: 0 15px;
    padding: 5px 10px;
    border-radius: 25px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

footer .footer-links a:hover,
footer .social-media a:hover {
    background-color: #f06292;
    color: #fff0f5;
}


footer .social-media a {
    font-weight: 500;
}

footer .footer-links {
    margin-bottom: 15px;
}

footer .social-media {
    margin-top: 10px;
}
